.page-text-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
  padding: 10px 0;
}

.page-text-content {
  writing-mode: vertical-rl;
  white-space: pre-line;
  border: solid;
  padding: 10px;
  text-align: justify;
  text-justify: inter-ideograph;
}

.page-text {
  margin-left: 40px;
  margin-right: 40px;
}

.page-list-menu {
  width:50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

.page-bookmark-menu {
  display: flex;
  justify-content: center;
}

.bookmark-icon {
  margin: auto;
}

.bookmark-message {
  padding-left: 20px;
}

p {
  font-size: 0.9rem;
}