.page-text-contents {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 80vh;
  padding: 10px 0;
}

.page-text-content {
  writing-mode: vertical-rl;
  white-space: pre-line;
  border: solid;
  padding: 10px;
  text-align: justify;
}

.page-text {
  margin-left: 40px;
  margin-right: 40px;
}

.page-list-menu {
  width:50%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

.page-bookmark-menu {
  display: flex;
  justify-content: center;
}

.bookmark-icon {
  margin: auto;
}

.bookmark-message {
  padding-left: 20px;
}

p {
  font-size: 0.9rem;
}

.search-btn {
  background: white;
  display: none;
}

.highlight-text {
  position:relative;
}

.highlight-text:hover > a {
  display: block;
  z-index: 1;
  bottom :50%;
  position: absolute;
  left: 20px;
}

.search-message {
  font-size: 25px;
  margin: 30px 0;
}

.search-results {
  width: 90%;
  margin: auto;
  text-align: center;
}
.search-result {
  margin-bottom: 30px;
}

.webpage-link {
  text-decoration: none;
  color: rgb(12, 43, 219);
}

