<div class = "book-index">
  <div class = "book-box">
    <% @books.each do |book| %>
      <div class="name">
        <%= link_to book.title, book_path(book) %>
      </div>
      <div class="image">
        <%= image_tag book.image if book.image.attached? %>
      </div>
    <% end %>
  </div>
</div>
<%= link_to "本追加", new_book_path %> 