<div class='text'>
  <%= @book.title %><br>
  <%= image_tag @book.image if @book.image.attached?%>
  <%= link_to 'この本を読む', book_page_path(book_id: @book.id, id: 1) %>
  <%= link_to 'トップページに戻る' , root_path %>
</div>