/* ヘッダー */
.page-header {
  background-color: rgb(4, 223, 150);
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  margin-bottom: 10px;
}

.header-title {
  font-size: 40px;
  color: white;
  padding-left: 10px;
  text-decoration: none;
}

/* 本一覧画面 */

.box-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh, 0;
}

h2 {
  text-align: center;
}

.book-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.book-image-content {
  position: relative;
  display: flex;
  justify-content: center;
}

.list {
  width: 30vw;
  height: 40vh;
  padding: 0 0 50px 0;
  background-color: #FFF;
  position: relative;
}

ul {
  list-style: none;
}

.book-image {
  width: 35vh;
  height: 40vh;
}

.book-title {
  position:absolute;
  bottom:0px;
  left:50%;
  font-size: 24px;
  font-weight: bold;
  transform:translateX(-50%);
}

.new-book-bar {
  text-align: center;
  padding-top: 20px;
}

.title {
  font-size: 40px;
  font-style: normal;
  padding: 10px;
}

.link-to {
  text-decoration: none;
  color: black;
  font-size: 25px;
}

/* 本詳細画面 */

.main-show {
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  width: 50vw;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.book-list-show {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.list-show {
  width: 37vw;
  height: 40vh;
  padding: 0 25px 50px 25px;
  background-color: #FFF;
  position: relative;
}

.book-list-menu {
  width:100%;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.summary {
  margin-top: 20px;
}

.summary-message {
  font-weight: bold;
  margin-bottom: 20px;
}

.keyword-message {
  font-weight: bold;
  margin-bottom: 20px;
}