.text {
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  white-space: pre-wrap;
}

.book-index {
  display: flex;
}

.name {
  font-style: normal;
  text-align: center;
}

.image {
  height: 400px;
}